.submitBtn{
	margin-top:50px;
}
.form-inline{
	margin-top: 50px;
}
.form-group{
	margin-left:260px;
}
.table-responsive{
	margin-top: 50px;
}
#title{
	font-size: 20px;
	margin-top: 50px;
}
#screen{
	width:82%;
	border:1px solid #000;
	text-align: center;
	margin-left: 12%;
	margin-top: 50px;
	background-color: rgba(5, 5, 128, 0.693);
}
#table-screen{
	margin-top: 30px;
	margin-left:50px;
	border-spacing: 10px;
  	border-collapse: separate;
}
#table-screen-row{
	margin-top:10px;
}
.screen-map{
	margin-left: 50%;
	margin-top:-40px;
}
.reserved-seat{
	margin-left:4px;

}
.empty-seat{
	cursor: pointer;
	
}
.booked-seat{
	cursor: pointer;
	content: url('../img/booked-seat.png');
}
.error{
  font-size: 20px;
  font-weight: 700;
  font-family: monospace;

}
body {
	background-image: url('../background.png');
	color: white;
	background-size: cover;
}
